.SignUpPage{
    display: flex;
    flex-direction: column;
    width: 450px;
    margin : auto auto;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    height: 700px;
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(-50%,-50%);
    padding: 50px 50px 0 50px;
    max-width: 900px;
}

/* signUpForm */

.accountInput{
    padding: 0 0 0 35px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    border-bottom-color: white;
    background: transparent;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.accountForm{
    color: white;
    width: 350px;
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    overflow: scroll;
}
.accountForm::-webkit-scrollbar {

    display:none;
    
} 
.inputDiv{
    position: relative;
}

.accountH3{
    color: white;
    margin-left: 15px;
    text-shadow: gray;
}
/* termsPage */
.termsPage{
    height: 200px;
    overflow-y: scroll;
    margin-top: 10px;
}

.accIcon{
    /* color: white; */
    display: block;
    width: 20px;
    position: absolute;
    margin-top: 17px;
    margin-left: 10px;
}
.term{
    padding-left: 20px;
}
.termTitle{
    display: inline-block;
    color: rgba(255, 255, 255, 0.605);
}
.termArea{
    min-width: 250px;
    max-width: 300px;
    max-height: 100px;
    min-height: 50px;
}

.hideTerm{
    display: none;
}
.showTerm{
    display: block;
}
.showTermLabel{
    cursor: pointer;
    margin-left: 10px;
    color: gray;
}
.termCheck{
    margin-left: 10px;
}

#signUpGobackLabel{
    color: rgb(182, 182, 182);
    position : absolute;
    right : 50px;
    margin-top: -20px;
    cursor: pointer;   
}
#signUpGobackLabel:hover{
    color: white;
    border-bottom: 1px solid white;
}

.accWarning{
    color: rgba(219, 33, 33, 0.959);
    margin-top: 10px;
}

.col{
    width: 100%;
    margin-top: 10px;
}

.btn {border: none; font-size: 18px; white-space:nowrap; width:100%; padding:.8em 1.5em; font-family: Open Sans, Helvetica,Arial,sans-serif; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}
.btn.btn-dark-blue{background-color: #ff4a0255;}
.btn.btn-dark-blue:hover{background-color:#ff4a02af; color: white; cursor: pointer;}
.btn.btn-dark-blue:active{ top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

.modalContainner{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.582);
    width: 100%;
    height: 100%;
}

#signUpIsLoading{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.856);
    width: 100%;
    height: 100%;
}
#signUpModalBox{
    width: 350px;
    background-color: rgba(66, 66, 66, 0.808);
    height: 200px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -175px;
    margin-top: -100px;
    color: white;
    padding: 20px;
}

.circleSpinnerBox{
    position: absolute;
    top: 45%;
    left: 45%;
}